
<div class="container">
  <!-- <ngb-alert class="danger">Warning</ngb-alert> -->
  <form [formGroup]="loanForm" id="loanForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <label>
              Name:
              <input type="text" formControlName="name">
            </label>
          </div>
    </div>
   <br>
    <div class="row">
      <div class="col-md-6" formGroupName="income">
      <label>Employement Type:
        <input  type="radio" formControlName="incomeType" value="s">Salaried
        <input  type="radio" formControlName="incomeType" value="i">Business
      </label>
      </div>
    </div>
     <br>
    <div class="row">
      <div class="col-md-12">
          <label>
              Amount per Annum: 
              <input type="number" min="500000" formControlName="incomeAmount">
            </label>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <label>Enter Amount of Loan amount requested: 
              <input type="number" min=10000 formControlName="loanAmount">
          </label>
        </div>
      </div>

    
    <br>
    <hr>
    <button class="btn btn-primary" type="submit">Submit</button>
  
  </form>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{ receivedData | json}}
    </div>
  </div>
</div>